*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
  
body{
    background-color: #2e3440;
    min-height: 100vh;
    overflow: hidden;
	overflow-x: hidden;
}

#showcase{
	width: 100%;
	display: flex;
	justify-content: space-around;
	align-items: center;
	min-height: 8vh;
	background-color: #2e3440;
	font-family: 'Poppins', sans-serif;
}
  
#showcase .int{
	position: relative;
	display: flex;
	flex-direction: column;
    font-size: 1.6rem;
    color: #d8dee9;
}
  
#showcase .int span{
    color: #81a1c1;
    text-shadow: 0 2px 5px rgba(0,0,0,0.25);
}
  
#showcase .int span i{
    font-style: normal;
    color: #d8dee9;
}
  
#showcase .int span i::after{
    content: 'l';
    color: #808080;
    text-transform: lowercase;
}

#showcase .showcaselist{
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	opacity: 1;
	transition: opacity 1s ease-in;
}

#showcase .showcaselist li{
	position: relative;
	list-style: none;
	margin-left: 20px;
}

#showcase .showcaselist.active{
	opacity: 1;
}

#showcase ul li a{
	position: relative;
	text-decoration: none;
	padding: 6px 15px;
	color: #fff;	
	border-radius: 20px;
	transition: all 0.25s ease-in;
}

#showcase ul li a:hover, #showcase .select1.active, #showcase .select2.active, #showcase .select3.active,
#showcase .select4.active{
	background: #fff;
	color: #7597de;
}

#showcase .select7.active, #showcase .select6.active{
	color: #fff;
	background: #8fbcbb;
}

#showcase .burger{
	display: none;
}

#showcase .burger div{
	width: 25px;
	height: 2px;
	background-color: white;
	margin: 5px;
	transition: transform 0.3s ease;
}


@keyframes navLinkFade{
	from{
		opacity: 0;
		transform: translateX(50px);
	}
	to{
		opacity: 1;
		transform: translateX(0px);
	}
}

.toggle .line1{
	transform: rotate(-45deg) translate(-5px, 6px);
}

.toggle .line2{
	opacity: 0;
}

.toggle .line3{
	transform: rotate(45deg) translate(-4px, -5px);
}

.contact{
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	margin-top: 35vh;
}

.left{
	position: relative;
	width: 150px;
	height: 150px;
	transform-style: preserve-3d;
	transform: rotateX(-30deg);
	animation: animate 12s linear infinite;
	margin-right: 25%;
}

@keyframes animate{
	0%{
		transform: rotateX(-30deg) rotateY(0deg);
	}
	100%{
		transform: rotateX(-30deg) rotateY(360deg);
	}
}

.left div{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	transform-style: preserve-3d;
}

.left div span{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: linear-gradient(#151515, #81a1c1);
	transform: rotateY(calc(90deg * var(--i))) translateZ(75px);
}

.top{
	position: absolute;
	top: 0;
	left: 0;
	width: 150px;
	height: 150px;
	background: #222;
	transform: rotateX(90deg) translateZ(75px);
}

.top::before{
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 150px;
	height: 150px;
	background: #81a1c1;
	transform: translateZ(-180px);
	filter: blur(20px);
	box-shadow: 0 0 100px rgba(0, 0, 0,0.8);
}

.right{
	position: relative;
	width: 150px;
	height: 150px;
	transform-style: preserve-3d;
	transform: rotateX(-30deg);
	animation: animate 12s linear infinite;
	margin-left: 25%;
}

.right div{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	transform-style: preserve-3d;
}

.right div span{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: linear-gradient(#151515, #81a1c1);
	transform: rotateY(calc(90deg * var(--j))) translateZ(75px);
}

.topr{
	position: absolute;
	top: 0;
	left: 0;
	width: 150px;
	height: 150px;
	background: #222;
	transform: rotateX(90deg) translateZ(75px);
}

.topr::before{
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 150px;
	height: 150px;
	background: #81a1c1;
	transform: translateZ(-180px);
	filter: blur(20px);
	box-shadow: 0 0 100px rgba(0, 0, 0,0.8);
}

.iso ul{
	position: relative;
	transform: skewY(-15deg);
}

.iso ul li{
	position: relative;
	list-style: none;
	width: 120px;
	background: #3b4252;
	padding: 15px;
	transition: 0.5s;
	z-index: calc(1 * var(--i));
}

.iso ul li:hover{
	transform: translateX(-50px);
	background: var(--clr);
}

.iso ul li::before{
	content: '';
	position: absolute;
	top: 0;
	left: -40px;
	width: 40px;
	height: 100%;
	background: #2e3440;
	filter: brightness(0.7);
	transform-origin: right;
	transform: skewY(45deg);
	transition: 0.5s;
}

.iso ul li:hover::before{
	background: var(--clr);
	filter: brightness(0.7);
}

.iso ul li::after{
	content: '';
	position: absolute;
	top: -40px;
	left: 0;
	width: 100%;
	height: 40px;
	background: #3b4252;
	filter: brightness(0.9);
	transform-origin: bottom;
	transform: skewX(45deg);
	transition: 0.5s;
}

.iso ul li:hover::after{
	background: var(--clr);
	filter: brightness(0.9);
}

.iso ul li a{
	text-decoration: none;
	color: #d8dee9;
	display: block;
	text-transform: uppercase;
	letter-spacing: 0.05em;
	transition: 0.5s;
}

.iso ul li:hover a{
	color:#eceff4;
}

.iso ul li:last-child::after{
	box-shadow: -120px 120px 20px rgba(0,0,0,0.25);
}

.iso ul li span{
	position: absolute;
	top: 0;
	left: -40px;
	width: 40px;
	height: 100%;
	transform-origin: right;
	transform: skewY(45deg);
	transition: 0.5s;
	display: flex;
	justify-content: center;
	align-items: center;
	opacity: 0.5;
	font-size: 1.25em;
}

.iso ul li:hover span{
	opacity: 1;
}

/* For Tablet View */
@media screen and (min-device-width: 768px)
	and (max-device-width: 1024px) {
		#showcase .showcaselist{
			position: absolute;
			right: 0px;
			height: 94vh;
			top: 8vh;
			background-color: #2e3440;
			flex-direction: column;
			align-items: center;
			width: 100%;
			transform: translateX(100%);
			transition: transform 0.5s ease-in, opacity 0.5s ease-in, display 0.5s ease-in;
			z-index: 10000;
			opacity: 0;
			display: none;
		}
	
		#showcase .showcaselist li{
			margin-top: 25px;
			opacity: 0;
		}
	
		#showcase .showcaselist.nav-active{
			transform: translateX(0%);
			opacity: 1;
			display: flex;
		}
	
		#showcase .burger{
			display: block;
			cursor: pointer;
		}

		.left{
			display: flex;
			margin-right: 150px;
		}
		.right{
			margin-left: 150px;
		}
}
   
/* For Mobile Phones Portrait or Landscape View */
@media screen and (max-device-width: 640px) {
	#showcase .showcaselist{
		position: absolute;
		right: 0px;
		height: 94vh;
		top: 8vh;
		background-color: #2e3440;
		flex-direction: column;
		align-items: center;
		width: 100%;
		transform: translateX(100%);
		transition: transform 0.5s ease-in, opacity 0.5s ease-in, display 0.5s ease-in;
		z-index: 10000;
		opacity: 0;
		display: none;
	}

	#showcase .showcaselist li{
		margin-top: 75px;
		opacity: 0;
	}

	#showcase .showcaselist.nav-active{
		transform: translateX(0%);
		opacity: 1;
		display: flex;
	}

	#showcase .burger{
		display: block;
		cursor: pointer;
	}

	.contact{
		margin-top: 100px;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		overflow: hidden;
		overflow-x: hidden;
	}

	.left{
		display: none;
	}
	.right{
		margin-top: 150px;
		margin-bottom: 100px;
		margin-right: 70px;
	}
	.iso{
		margin-top: 50px;
	}
}

/* Laptop ----------- Non-Retina Screens ----------- */
@media screen 
  and (min-device-width: 1200px) 
  and (max-device-width: 1600px) 
  and (-webkit-min-device-pixel-ratio: 1) {
	#work .blog-box{
		height: 40%;
	}

	#work .blog-box .language{
		width: 70px;
		padding-left: 10px;
	}
}

/* Laptop ----------- Retina Screens ----------- */
@media screen 
  and (min-device-width: 1200px) 
  and (max-device-width: 1600px) 
  and (-webkit-min-device-pixel-ratio: 2)
  and (min-resolution: 192dpi) { 
	
}