*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
  
body{
    background-color: #2e3440;
    min-height: 100vh;
}

#showcase{
	width: 100%;
	display: flex;
	justify-content: space-around;
	align-items: center;
	min-height: 8vh;
	background-color: #2e3440;
	font-family: 'Poppins', sans-serif;
}
  
#showcase .int{
	position: relative;
	display: flex;
	flex-direction: column;
    font-size: 1.6rem;
    color: #d8dee9;
}
  
#showcase .int span{
    color: #81a1c1;
    text-shadow: 0 2px 5px rgba(0,0,0,0.25);
}
  
#showcase .int span i{
    font-style: normal;
    color: #d8dee9;
}
  
#showcase .int span i::after{
    content: 'l';
    color: #808080;
    text-transform: lowercase;
}

#showcase .showcaselist{
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	opacity: 1;
	transition: opacity 1s ease-in;
}

#showcase .showcaselist li{
	position: relative;
	list-style: none;
	margin-left: 20px;
}

#showcase .showcaselist.active{
	opacity: 1;
}

#showcase ul li a{
	position: relative;
	text-decoration: none;
	padding: 6px 15px;
	color: #fff;	
	border-radius: 20px;
	transition: all 0.25s ease-in;
}

#showcase ul li a:hover, #showcase .select1.active, #showcase .select2.active, #showcase .select3.active,
#showcase .select4.active{
	background: #fff;
	color: #7597de;
}

#showcase .select7.active, #showcase .select6.active{
	color: #fff;
	background: #8fbcbb;
}

#showcase .burger{
	display: none;
}

#showcase .burger div{
	width: 25px;
	height: 2px;
	background-color: white;
	margin: 5px;
	transition: transform 0.3s ease;
}


@keyframes navLinkFade{
	from{
		opacity: 0;
		transform: translateX(50px);
	}
	to{
		opacity: 1;
		transform: translateX(0px);
	}
}

.toggle .line1{
	transform: rotate(-45deg) translate(-5px, 6px);
}

.toggle .line2{
	opacity: 0;
}

.toggle .line3{
	transform: rotate(45deg) translate(-4px, -5px);
}


.mh-portfolio{
	margin-top: 100px;
}

.section-title h3{
	color: #81a1c1;
	font-family: 'Poppins', sans-serif;
}

.portfolio-nav{
	margin: 0 auto;
	margin-bottom: 50px;
	text-align: center;
}

.portfolio-nav ul{
	margin: 0 auto;
	float: none;
	text-align: center;
}

.portfolio-nav ul li{
	display: inline-block;
	margin: 0 10px;
	cursor: pointer;
	color: #d8dee9;
	font-family: 'Poppins', sans-serif;
}

.portfolio-nav ul li:hover{
	color: #81a1c1;
}

.portfolio-nav ul li.active{
	color: #81a1c1;
}

.portfolio-nav ul li span{
	padding: 15px 0;
	border-bottom: 2px solid transparent;
}

.portfolio-nav ul li.current span{
	border-bottom: 2px solid #81a1c1;
}

.grid-item figure{
	position: relative;
	overflow: hidden;
	border-radius: 10px;
}

.grid-item figure img{
	position: relative;
	width: 100%;
	display: block;
}

.grid-item figure figcaption{
	position: absolute;
	padding: 15px;
	height: 100%;
	width: 100%;
	top: auto;
	left: 0;
	color: white;
	bottom: 0;
	z-index: 10;
	transition: 0.5s;
	font-family: 'Poppins', sans-serif;
}

.grid-item figure figcaption::after{
	content: '';
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	transition: all 0.4s ease-out;
	transform: translateX(0) translateY(0) rotateZ(0) rotate(0deg) scale(0.95);
	z-index: -1;
	opacity: 0;
}

.grid-item figure figcaption .fa{
	margin: 0;
	padding: 0;
	font-size: 24px;
	font-weight: 400;
	line-height: 35px;
	position: absolute;
	text-align: center;
	width: 100%;
	left: 0;
	top: 45%;
	margin-top: -22px;
	transform: translateX(0px) translateY(0) translateZ(0) rotate(0deg) scale(1);
	opacity: 0;
	letter-spacing: 0px;
}

figcaption .title{
	margin: 0;
	padding: 0;
	position: absolute;
	text-align: center;
	width: 100%;
	left: 0;
	right: 0;
	font-size: 18px;
	line-height: 30px;
	text-transform: capitalize;
	top: 50%;
	margin-top: 30px;
	transform: translateX(80px) translateY(0) translateZ(0) rotate(0deg) scale(1);
	transition: all 0.4s ease-out;
	opacity: 0;
	letter-spacing: 0px;
}

figcaption .sub-title{
	margin: 0;
	padding: 0;
	position: absolute;
	text-align: center;
	width: 100%;
	left: 0;
	font-size: 13px;
	top: 50%;
	margin-top: 30px;
	transform: translateX(-70px) translateY(0) translateZ(0) rotate(0deg) scale(1);
	transition: 0.5s;
	opacity: 0;
	letter-spacing: 0px;
}

.grid-item figure:hover{
	transform: all 0.4s ease-out;
}

figure:hover figcaption{
	color: white;
	background: rgba(129,161,193,0.9);
}

.grid-item figure:hover figcaption::after{
	opacity: 1;
	transform: translateX(0) translateY(0) translateZ(0) rotate(0deg) scale(1);
	transition: all 0.4s ease-out;
}

.grid-item figure:hover figcaption .fa{
	transform: translateX(0) translateY(0) translateZ(0) rotate(0deg) scale(1);
	transition: 0.2s;
	opacity: 1;
}

.grid-item figure:hover figcaption .title{
	transform: translateX(0) translateY(0) translateZ(0) rotate(0deg) scale(1);
	transition: 0.4s;
	margin-top: -10px;
	opacity: 1;
}

.grid-item figure:hover figcaption .sub-title{
	transform: translateX(0) translateY(0) translateZ(0) rotate(0deg) scale(1);
	transition: 0.6s;
	opacity: 1;
}

/* For Tablet View */
@media screen and (min-device-width: 768px)
	and (max-device-width: 1024px) {
		#showcase .showcaselist{
			position: absolute;
			right: 0px;
			height: 94vh;
			top: 8vh;
			background-color: #2e3440;
			flex-direction: column;
			align-items: center;
			width: 100%;
			transform: translateX(100%);
			transition: transform 0.5s ease-in, opacity 0.5s ease-in, display 0.5s ease-in;
			z-index: 10000;
			opacity: 0;
			display: none;
		}
	
		#showcase .showcaselist li{
			margin-top: 25px;
			opacity: 0;
		}
	
		#showcase .showcaselist.nav-active{
			transform: translateX(0%);
			opacity: 1;
			display: flex;
		}
	
		#showcase .burger{
			display: block;
			cursor: pointer;
		}
}
   
/* For Mobile Phones Portrait or Landscape View */
@media screen and (max-device-width: 640px) {
	#showcase .showcaselist{
		position: absolute;
		right: 0px;
		height: 94vh;
		top: 8vh;
		background-color: #2e3440;
		flex-direction: column;
		align-items: center;
		width: 100%;
		transform: translateX(100%);
		transition: transform 0.5s ease-in, opacity 0.5s ease-in, display 0.5s ease-in;
		z-index: 10000;
		opacity: 0;
		display: none;
	}

	#showcase .showcaselist li{
		margin-top: 75px;
		opacity: 0;
	}

	#showcase .showcaselist.nav-active{
		transform: translateX(0%);
		opacity: 1;
		display: flex;
	}

	#showcase .burger{
		display: block;
		cursor: pointer;
	}
}

/* Laptop ----------- Non-Retina Screens ----------- */
@media screen 
  and (min-device-width: 1200px) 
  and (max-device-width: 1600px) 
  and (-webkit-min-device-pixel-ratio: 1) {
	#work .blog-box{
		height: 40%;
	}

	#work .blog-box .language{
		width: 70px;
		padding-left: 10px;
	}
}

/* Laptop ----------- Retina Screens ----------- */
@media screen 
  and (min-device-width: 1200px) 
  and (max-device-width: 1600px) 
  and (-webkit-min-device-pixel-ratio: 2)
  and (min-resolution: 192dpi) { 
	
}